{#<h1>Password reset complete</h1>#}
{#<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>#}
{% extends 'generic_base.html' %}
{% block title %}
    Password Reset Complete
{% endblock %}
{% block form_title %}Password Reset Successful!!{% endblock %}
{% load widget_tweaks %}
{% block form %}
     <form class="form-horizontal m-t-20"   data-parsley-validate novalidate>

  <div class="alert alert-success" role="alert">
      <strong>Welldone!! </strong><br/>
      {% block message %}Your new password has been set. You can log in now on the log in page{% endblock %}
</div>
     <div class="form-group text-center m-t-30">
          <div class="col-xs-12">
            <a href="{% url 'login' %}" class="btn btn-success btn-block waves-effect waves-light">Log In</a>
          </div>
      </div>
     </form>
{% endblock %}
{% block signupblock %}
{% endblock %}