{% extends 'generic_base.html' %}
{% block title %}
    Password Reset Done
{% endblock %}
{% block form_title %}Check Your Inbox{% endblock %}
{% load widget_tweaks %}
{% block form %}
     <form class="form-horizontal m-t-20" method="post" data-parsley-validate novalidate>
  <div class="alert alert-success" role="alert">
      <strong>Welldone!! </strong><br/>
      We've emailed you instructions for setting your password. You should receive the email shortly!
</div>
     </form>
{% endblock %}
{% block signupblock %}
{% endblock %}