{% extends 'base_dashboard.html' %}
{% block title %}
    Manage Events
{% endblock %}

{% block dashboardtitle %}
    Manage Event
{% endblock %}
{% block content %}
    {% load staticfiles  %}

    <div class="row">
    {% for event in events %}

                            <div class="col-sm-4 col-lg-3 col-xs-12">
                                <!-- Simple card -->
                                <div class="card">
                                    <img class="card-img-top img-fluid" src={{ event.image.url }} alt="Card image cap">
                                    <div class="card-block"><h4 class="card-title">{{ event.name }}</h4>
                                        <p class="card-text">{{ event.description }}</p>
                                        <a href="#" class="btn btn-primary">Manage Event</a>
                                    </div>
                                </div>

                            </div><!-- end col -->

    {% endfor %}
    </div>
{% endblock %}