            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                        	<li class="text-muted menu-title">Navigation</li>

                            <li class="has_sub">
                                <a href="{% url 'seller' %}" class="waves-effect active"><span class="label label-pill label-primary pull-xs-right">1</span><i class="zmdi zmdi-view-dashboard"></i><span> Dashboard </span> </a>
                            </li>
                            <li class="has_sub">
                                <a href="{% url 'seller-venue-list' %}" class="waves-effect"><i class="ion-ios7-compose"></i><span> Manage Venue</span> </a>
                            </li>
                            <li class="has_sub">
                                <a href="{% url 'seller-SoundSystem-list' %}" class="waves-effect"><i class="ion-ios7-undo"></i><span> Manage SoundSystem </span> </a>
                            </li>
                            <li class="has_sub">
                                <a href="{% url 'seller-Catering-list' %}" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span>Manage Catering</span> </a>
                            </li>
                            <li class="has_sub">
                                <a href="{% url 'seller-Decoration-list' %}" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span>Manage Decoration</span> </a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->